<% content_for :obj_content, @obj_content %>

<canvas id="canvas" width="640" height="480">
  <p>This example requires a browser that supports the
  <a href="http://www.w3.org/html/wg/html5/">HTML5</a>
  &lt;canvas&gt; feature.</p>
</canvas>
