<h1>ThreeDObjects#new</h1>

<p>Upload a new 3D object in the .obj format</p>

<%= form_for :object, @object, :url => three_d_object_path, :html => { :multipart => true } do |form| %>
	
	<%= form.file_field :object %>
	<br/>
	<%= form.submit('Save')%>

<%- end %>
